@import "~materialize-css/dist/css/materialize.min.css";

@media print {
  .ticketCheck {
    width: 50%;
    display: grid;
    align-self: center;
    grid-template-columns: 0.5fr;
    padding: 15px;
  }
}

@media screen and (max-width: 849px) {
  .container h4 {
    text-align: center;
  }
  .service-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 150px;
    justify-content: center;
  }

  .service-list li {
    padding: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-align: center;
  }

  .service-list .card {
    padding-bottom: 15px !important;
  }

  .timeList {
    display: grid;
    text-align: center;
    color: white;
    grid-template-rows: 5rem;
    align-items: center;
    border-radius: 5px;
  }

 
  .time-container {
    
   
    min-width: 100%;
  }

  .times {
    display: grid;
    text-align: center;
    color: white;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem;
    align-items: center;
    border-radius: 5px; 
  }

  .ticket {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
  }
  .ticketForm {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    border: 2px dashed rgba(17,68,102,0.34);
  }
  .ticketFormContent {
    grid-template-columns: 1fr;
    display:grid;
    text-align: left;
  }
}

@media screen and (min-width: 850px) {

  .container h4 {
    text-align: center;
  }
  .card-title {
    color: #fff;
    text-align: center;
  }

  button.login {
    margin-right: 2rem;
  }

  .nav-wrapper {
    padding: 0 2rem;
  }

  .card {
    margin-top: 6rem;
    /* padding: 1rem 2rem 1rem 2rem; */
  }

  input {
    color: #000 !important;
  }

  input.login,
  input.password {
    color: #fff !important;
  }

  .card .service {
    background: #777777;
  }

  .service-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
    grid-gap: 1rem;
    color: #fff;
  }
  .service-list li {
    text-align: center;
    font-size: 0.9em;
  }
  .service-list > div.card {
    margin-top: 1rem !important;
    align-content: center !important;
    padding:0 10px 25px 10px !important;
    
  }
 /*  .service-list .card {
    align-content: center;
    
  } */

  .timeTable {
    display: grid;
    justify-content: center;
    text-align: center;
  }

   .timeTable ul {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 50px;
    grid-gap: 1rem;
    align-items: flex-end;
    text-align: center;
    color: #fff;
    margin-top: 4rem;
  } 

  /* Contact Form styles */

  .contactForm {
    display: grid;
    text-align: center;
    justify-content: center;
  }

  .receptionTime {
    justify-content: inherit;
    width: 80%;
    margin: 0 auto;
  }

  .timeList {
    display: grid;
    text-align: center;
    color: white;
    grid-template-columns: 1fr ;
    grid-template-rows: 5rem;
    align-items: center;
    border-radius: 5px;
  }

  .time-container {
    display:grid;
    grid-template-columns:1fr;
    min-width: 50%;
  }

  .times {
    display: grid;
    text-align: center;
    color: white;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem;
    align-items: center;
    border-radius: 5px; 
  }

  /* Стили для 404 страницы */ 

  .notFound {
    height: 100vh;
    display: grid;
    grid-auto-rows: 1fr;
    align-items: center;

  }

  .notFound>div {
    display: grid;
    justify-content: center;
    grid-auto-rows: auto;

  }

  .notFoundText {
    display: grid;
    align-items: center;
    font-size: 6rem;
    font-weight: 800;
    color: cornflowerblue;
    text-align: center;

  }

  .homeLink {
    text-align:center;
    font-size: 1.5rem;
  }

  .homeBtn {
    margin-top: 2rem;
    border-radius: 15px;
  }
  .ticket {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
    grid-template-rows:1fr;
  }

  .ticketForm {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    border: 2px dashed rgba(17,68,102,0.34);
    grid-gap:2rem;
    margin-bottom:4rem;
  }
  .ticketFormContent {
    grid-template-columns: 1fr;
    display:grid;
    text-align: left;
    grid-gap:1rem;
    padding-left:20px;
    padding-bottom:2rem;
  }




}
