@import "~materialize-css/dist/css/materialize.min.css";

@media print {
  .ticketCheck {
    width: 50%;
    display: grid;
    align-self: center;
    grid-template-columns: 0.5fr;
    padding: 15px;
  }
}

.card-title {
  color: #fff;
  text-align: center;
}

button.login {
  margin-right: 2rem;
}

.nav-wrapper {
  padding: 0 2rem;
}

.card {
  margin-top: 6rem;
  padding: 1rem 2rem 1rem 2rem;
}

input {
  color: #000 !important;
}

input.login,
input.password {
  color: #fff !important;
}

.card .service {
  background: #777777;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 2rem;
  color: #fff;
}
.service-list li {
  text-align: left;
  font-size: 0.9em;
}
.service-list > div.card {
  margin-top: 1rem !important;
  padding: 10%;
}

.timeTable {
  display: grid;
  justify-content: center;
  text-align: center;
}

.timeTable ul {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 50px;
  grid-gap: 1rem;
  align-items: flex-end;
  text-align: center;
  color: #fff;
  margin-top: 4rem;
}

/* Contact Form styles */

.contactForm {
  display: grid;
  text-align: center;
  justify-content: center;
}

.receptionTime {
  justify-content: inherit;
  width:80%;
  margin: 0 auto;
}