@import "~materialize-css/dist/css/materialize.min.css";

.card-title {
  color: #fff;
  text-align: center;
}

button.login {
  margin-right: 2rem;
}

.nav-wrapper {
  padding: 0 2rem;
}

.card {
  margin-top: 6rem;
  padding: 1rem 2rem 1rem 2rem;
}

input {
  color: #000 !important;
}

.card .service {
  background: #777777;
}

.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  color: #fff;
}
.service-list li{
  text-align: center;

}

