.Button {
    margin-left: 10px !important;
    color:#fff ;
    float: right;
    width: 30%;
}

.rewriteBtn {
    float: left;
    width: 30%;
    color:#fff;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border-bottom: solid 1px #c2c2c2; */
}

.hrLine {
    height: 13px;
    background: olivedrab;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0 ,0, 0.8);
    top: 0;
    left: 0;
}



.PopupModal {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.PopupContent {
    
    padding: 25px;
    width:65%;
    height: calc(100vh - 50px);
    background-color: rgb(236, 238, 238);
    overflow-y: auto;
}

.PopupFooter {
    margin-top: 3em;
    padding-bottom: 40px;
}

.hideWindow {
    visibility: hidden;
    opacity: 0;
}

.TimeBoxContainer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


