<!DOCTYPE html>
<head>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Список услуг управления</title>
</head>
<div class="container"><h1>Выберите услугу</h1>
<div class="row">
    <% data.forEach( item => {%>
        <div class="col s6"><%= item.title%></div>
   <% }) %>
</div>
</div>


</html>